.head-section{
    background-color: silver;
    width:99%;
    font-size: 40px;
    padding: 10px;
    
}
ul {
    list-style-type: none;
    margin: 0;
    padding: 0;
    overflow: hidden;
    background-color: #333;
    width:auto;
  }
  
  li {
    float: left;
    border-right: 1px solid white;
  }
  
  li a {
    display: block;
    color: white;
    text-align: center;
    padding: 14px 16px;
    text-decoration: none;
  }
  
  li a:hover {
    background-color:green;
  }
  .middle{
      width:68%;
      float:left;
      background-color:whitesmoke;
      padding-left: 15px;
      padding-bottom: 200px;
      /* height: 600px; */
      /* padding-right: 10px; */
  }
  .container{
      background-color:silver ;
      display: flex;
      
  }
  .middle-right{
      padding-top:15px;
      padding-left:9px;
      background-color:silver;
      /* height: 600px; */
      padding-bottom: 300px;
      float: left;
      width: 25%;
      padding-left:25px;
      padding-right: 55px;
      overflow: hidden;
    }
    .footer {
        position: fixed;
        left: 0;
        bottom: 0;
        width: 100%;
        background-color:gray;
        color: white;
        text-align: center;
     }